/* #region common rules */
:root {
  /* primary */
  --clr-soft-red: hsl(10, 79%, 65%);
  --clr-cyan: hsl(186, 34%, 60%);

  /* neutral */
  --clr-darker: hsl(25, 47%, 15%);
  --clr-md-dark: hsl(28, 10%, 53%);
  --clr-cream: hsl(27, 66%, 92%);
  --clr-lighter: hsl(33, 100%, 98%);

  /* fw */
  --fw-md: 400;
  --fw-lg: 700;
}

body {
  font-family: "DM Sans", sans-serif;
  font-size: 1.125rem; /* body copy */
  min-height: 100vh;
  background-color: var(--clr-cream);
}

.blue {
  background-color: blue;
}
/* #endregion common rules */

/* #region main */
main {
  padding-inline: 1rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.page_heading {
  background-color: var(--clr-soft-red);
  border-radius: 0.5rem;
  padding: 1rem;
  flex-shrink: 0;
  max-width: 480px;
}

.page_heading .container {
  display: flex;
  justify-content: space-between;
}
.page_title {
  color: var(--clr-lighter);
}

.title {
  font-weight: var(--fw-md);
  opacity: 0.9;
  font-size: 1rem;
}
.balance_sum {
  font-weight: var(--fw-lg);
  font-size: 1.5rem;
}
.circles {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.circle {
  height: 40px;
  width: 40px;
}
.circle.right {
  background-color: var(--clr-darker);
  border-radius: 100%;
}
.circle.left {
  border-radius: 100%;
  border: 2px solid var(--clr-lighter);
  transform: translate(100%);
}
/* /.page_heading */

.page_content {
  background-color: var(--clr-lighter);
  border-radius: 0.5rem;
  padding: 1rem;
  flex-shrink: 0;
  max-width: 480px;
}
.page_content .container {
  padding: 0;
}

h1 {
  color: var(--clr-darker);
  font-weight: var(--fw-lg);
  font-size: 1.5rem;
}

.content_charts {
  padding-top: 3rem;
  padding-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
}
.day {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: end;
  position: relative;
}
.bar {
  width: 40px;
  background-color: var(--clr-soft-red);
  border-radius: 0.25rem;
}
.day_name {
  color: var(--clr-md-dark);
  font-size: 0.875rem;
  text-align: center;
}

.total_amount {
  background-color: var(--clr-darker);
  color: var(--clr-lighter);
  padding: 0.3rem;
  font-size: 0.725rem;
  border-radius: 0.25rem;
  font-weight: var(--fw-lg);
  visibility: hidden;
}

hr {
  color: var(--clr-soft-red);
}
.content_total {
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
}
.total {
  color: var(--clr-md-dark);
  font-size: 1rem;
}
.total_sum {
  color: var(--clr-darker);
  font-weight: var(--fw-lg);
  font-size: 2rem;
}
.month_statistics {
  font-size: 1rem;
  color: var(--clr-md-dark);
  align-self: flex-end;
}
.changes_percentage {
  font-weight: var(--fw-lg);
  color: var(--clr-darker);
  text-align: right;
}

/* #endregion main */

/* hover effects */

.day:hover .bar {
  opacity: 0.7;
  cursor: pointer;
}

.day:hover .total_amount {
  visibility: visible;
}

/* responsive */

@media screen and (min-width: 768px) {
  main {
    align-items: center;
  }
  .page_heading,
  .page_content {
    min-width: 480px;
  }
}
